<a href="https://colab.research.google.com/github/H-y-hoon/study/blob/main/%EB%8D%B0%EB%B6%84%ED%86%B5_%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import sys, os
#coding :utf-8
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from matplotlib import font_manager, rc

In [3]:
test1 = pd.read_csv("/content/drive/MyDrive/2022-1 데이터분석기초통계 - 지정주제dataset (1).csv")

In [ ]:
test1.shape

(100000, 5)

In [ ]:
test1

       Unnamed: 0         0  0.1  0.2  1
0               0  1.087903    0    0  0
1               1  1.064780    1    0  0
2               2  1.044257    0    0  0
3               3  1.025477    1    0  0
4               4  1.009584    0    0  1
...           ...       ...  ...  ... ..
99995       99995  1.059433    0    0  0
99996       99996  1.076627    1    0  0
99997       99997  1.086005    0    0  0
99998       99998  1.088800    1    1  0
99999       99999  1.086714    0    0  0

[100000 rows x 5 columns]

In [ ]:
test1.head()

   Unnamed: 0         0  0.1  0.2  1
0           0  1.087903    0    0  0
1           1  1.064780    1    0  0
2           2  1.044257    0    0  0
3           3  1.025477    1    0  0
4           4  1.009584    0    0  1

In [4]:
import tensorflow as tf
from pylab import rcParams
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from pandas.plotting import register_matplotlib_converters
from torch import nn, optim

# ** 데이터 전처리**

1. 결측치 확인
2. 이상치 확인

In [ ]:
test1.isnull().sum()

Unnamed: 0    0
0             0
0.1           0
0.2           0
1             0
dtype: int64

In [ ]:
test1.isnull()

       Unnamed: 0      0    0.1    0.2      1
0           False  False  False  False  False
1           False  False  False  False  False
2           False  False  False  False  False
3           False  False  False  False  False
4           False  False  False  False  False
...           ...    ...    ...    ...    ...
99995       False  False  False  False  False
99996       False  False  False  False  False
99997       False  False  False  False  False
99998       False  False  False  False  False
99999       False  False  False  False  False

[100000 rows x 5 columns]

## ** CONVOLUTION 구현**

In [8]:
from keras.layers import Activation,Conv2D,MaxPooling2D,Flatten 
from keras.models import Sequential, Model, load_model
from keras.layers import Input, Dense, Activation, Flatten, Dropout
from keras.layers import LSTM, SimpleRNN, GRU, Conv1D, MaxPooling1D, GlobalMaxPooling1D
import matplotlib.pyplot as plt
from tensorflow import keras

In [11]:
model = keras.Sequential()
model.add(Conv1D(4, 5, activation='relu', input_shape=(100,100)))
model.add(Flatten())
model.add(Dense(10, activation='relu'))
model.add(Dense(10, activation='relu'))
model.add(Dense(3, activation="softmax"))

In [12]:
model.compile(optimizer="SGD", loss="sparse_categorical_crossentropy", metrics=["accuracy"])
model.summary()

model.fit(test1, epochs=1000, verbose=0, batch_size=20)
loss, acc = model.evaluate(test1)
result = model.predict(test1)

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv1d_2 (Conv1D)           (None, 96, 4)             2004

 flatten (Flatten)           (None, 384)               0

 dense (Dense)               (None, 10)                3850

 dense_1 (Dense)             (None, 10)                110

 dense_2 (Dense)             (None, 3)                 33

=================================================================
Total params: 5,997
Trainable params: 5,997
Non-trainable params: 0
_________________________________________________________________

ValueError: ignored